#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Cow's Revenge
Exec=cowsrevenge
Icon=com.github.dariasteam.cowsrevenge
Type=Application
Categories=Game;
Comment=Indie Platformer Pixel Art Game
